@charset "UTF-8";


.titulo{
	color: black;
	text-decoration: underline;
	font-size: 70px;
	margin-bottom: 50px;
	font-weight: bold; 
}


p{
	color: black;
	font-size: 50px;
	margin-bottom: 30px;
	margin-right: 20px;
	font-weight: bold; 
	text-decoration: underline;
	display: inline-block;
	
}

h4{
	margin-left: 2px;
	color: 	#8b0000;
	font-weight: bold;
	font-size: 50px;
	display: inline-block;
	
}

.Datos{
	padding: 20px;
	margin: 10px;
	border: 2px solid black;
	background-color: #E8DABD;
		
}
